.container {
    border-top: 0.10px solid gray;

}

.imgbox {
    border: 0.5px solid rgb(212, 211, 211);
    border-bottom: 0.5px solid rgb(133, 131, 131);
    text-align: center;
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
}

.displayname {
    text-align: left;
    line-height: 2px;
    margin-left: 10px;
}

.location {
    font-size: smaller;
    font-weight: lighter;
}

.name {
    font-size: large;
    font-weight: bolder;
}

.logo {
    width: 10%;
}

img {
    width: 100%;
}

.icon {
    width: 5%;
    margin: 5px;
    /* margin-top: -3px; */
    margin-bottom: 3px;
    float: left;
    vertical-align: middle;
}

.engagement {
    text-align: right;
    padding: 5px;
    margin-top: -5px;
    /* line-height: 5px; */
}

.likecount {
    text-align: left;
    margin: 10px;
    margin-left: 16px;
    line-height: 10px;
    margin-top: -25px;
}

.caption {
    font-weight: bolder;
    text-align: left;
    margin-left: 10px;
    margin-top: -5px;
}

.camera {
    width: 2%;
    height: 30px;
    margin-bottom: 0px;
    margin-right: 30px;
    margin-top: 30px;
}

.header {
    display: flex;
}
/* .engagement, .date{
    text-align: right;
} */

/* .imgholder
.engagement
.caption */

.three-dots {
    font-size: 10px;
    float: right;
    margin-top: -25px;
    margin-right: 10px;
    word-spacing: -3px;
}